# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# virtualenv
.venv
venv/
ENV/

# secret files
*secret*

# ide files
.idea/
.vscode/

# windows retarded files
Thumbs.db
